



<!--------------------- LOGIN PAGE------------------------------------ -->
<ion-view view-title="Jazzed">
	<ion-content class="padding">
		<h1>Sign up with phone number</h1>
	<label class="item item-input">
	  <span class="input-label">Telephone</span>
	  <input type="tel">
	</label>
		<h1>OR login using Facebook</h1>
		<button class="ion-social-facebook"></button>
	</ion-content>
</ion-view>
<!--------------------- VERIFICATION PAGE------------------------------------ -->

<!-- <ion-view view-title="Jazzed">
	<ion-content class="padding">
		<h1>Submit code</h1>
		<p>We have sent a code through text. Please input here</p>
	<label class="item item-input">
	  <span class="input-label">Code</span>
	  <input type="number">
	</label>
	</ion-content>
</ion-view> -->

<!--------------------- Information PAGE------------------------------------ -->

<!-- <ion-view view-title="Jazzed">
	<ion-content class="padding">
		<h1>Information Page</h1>
	<label class="item item-input">
	  <span class="input-label">Username</span>
	  <input type="text">
	</label>
	<label class="item item-input">
	  <span class="input-label">Password</span>
	  <input type="password">
	</label>
	<label class="item item-input">
	  <span class="input-label">Photo</span>
	  <input type="text">
	  <button class="ion-ios-attach"></button>
	</label>
	<label class="item item-input">
	  <span class="input-label">Email</span>
	  <input type="email">
	</label>
	<label class="item item-input">
	  <span class="input-label">Telephone</span>
	  <input type="tel">
	</label>
		<button class="ion-help-buoy"></button>
	</ion-content>
</ion-view> -->

<!--------------------- Sync contact PAGE------------------------------------ -->

<!-- <ion-view view-title="Jazzed">
	<ion-content class="padding">
		<h1>Sync Contacts</h1>
		<h2>Through Facebook</h2>
		<button class="ion-social-facebook"></button>
		<h2>Through Phone</h2>
		<button class="ion-ios-color-filter-outline"></button>
	</ion-content>
</ion-view> -->

<!--------------------- Contact PAGE------------------------------------ -->

<!-- <ion-view view-title="Jazzed">
	<ion-content class="padding">
		<ion-list>
			<ion-item ng-repeat="contact in contacts">
				{{ contact }}
			</ion-item>
		</ion-list>
		<button class="ion-ios-body-outline"></button>
	</ion-content>
</ion-view> -->

<!--------------------- GROUPS PAGE------------------------------------ -->


<!-- <ion-view view-title="Jazzed">
	<ion-content class="padding">
		<ion-list>
			<ion-item ng-repeat="group in groups">
				{{ group }}
			</ion-item>
		</ion-list>
		<button class="ion-ios-people-outline"></button>
	</ion-content>
</ion-view> -->

<!--------------------- CREATE NEW CHAT PAGE------------------------------------ -->

<!-- <ion-view view-title="Jazzed">
	<ion-content class="padding">
		<label class="item item-input">
	  		<span class="input-label">Name of Chat</span>
	  <input type="text">
		</label>
	<h3>Select people for this group</h3>
	<ion-list>
			<ion-item ng-repeat="contact in contacts">
				{{ contact }}    <button class="ion-plus-round"></button>
			</ion-item>
	</ion-list>
	<button>Create Group and start chatting!  <span class="ion-ios-people-outline"></span></button>
 -->

<!--------------------- CHAT PAGE ------------------------------------ -->
<!-- <ion-view view-title="Jazzed">
	<ion-content class="padding"> -->
	











