<ion-view view-title="Search">
	<ion-content class="padding">
	<form name="movie">
	<label class="item item-input">
		<span class="input-label">Zip Code</span>
  		<input type="number" ng-model="data.zipcode" maxlength="5" required>
	</label>
	<label class="item item-input">
		<span class="input-label">Date</span>
  		<input type="date" ng-model="data.date">
	</label>
	</form>
	<button class="button button-assertive" ng-click="search(data)" ng-disabled="movie.$invalid">
  Search
</button>
</ion-content>
</ion-view>