<ion-view hide-nav-bar="true">
	<ion-content class="jtitle">
		<h1 class="jazzed">Who's In?</h1>	
		<h3 class="jtitle">Login</h3>
	<label class="item item-input">
		<span class="input-label">Email</span>
  		<input type="text" ng-model="user.email" required>
	</label>
	<label class="item item-input">
		<span class="input-label">Password</span>
  		<input type="password" ng-model="user.password" required>
	</label>
	<button class="button custom-button" ng-click="signIn(user)">Sign In</button>
		<h3 class="jtitle">Create a new account</h3>
	<label class="item item-input">
		<span class="input-label">Name</span>
  		<input type="text" ng-model="newUser.name" required>
	</label>
	<label class="item item-input">
		<span class="input-label">Email</span>
  		<input type="text" ng-model="newUser.email" required>
	</label>
	<label class="item item-input">
		<span class="input-label">Password</span>
  		<input type="password" ng-model="newUser.password" required>
	</label>
	<label class="item item-input">
		<span class="input-label">Phone</span>
  		<input type="tel" ng-model="newUser.phone" required>
	</label>
	<button class="button custom-button" ng-click="signUp(newUser)">Sign Up</button>
	</ion-content>
</ion-view>