<ion-view view-title="New Custom Event">
	<ion-content>
		<div class="list">
			<label class="item item-input">
				<input type="text" placeholder="Event Name" ng-model="data.name">
			</label>
			<label class="item item-input">
				<input type="text" placeholder="Description" ng-model="data.description">
			</label>
			<label class="item item-input">
				<input type="date" ng-model="data.day" placeholder="Optional Date">
			</label>
			<label class="item item-input">
				<input type="time" ng-model="data.time">
			</label>
			<label class="item item-input">
				<input type="text" placeholder="Location Name (optional)" ng-model="data.locationName">
			</label>
			<label class="item item-input item-select">
				<div class='input-label'>
					Group
				</div>
				<select ng-model="data.group_id">
					<option ng-repeat="room in rooms">{{room.$id}}</option>
				</select>
			</label>
		</div>
		<button class="button button-positive" ng-click="saveEventPopup()">
			Save
		</button>
		<button class="button button-positive" ng-click="goBack()">
			Cancel
		</button>
	</ion-content>
</ion-view>