<ion-view view-title="New Custom Event">
	<ion-content>
		<div class="list">
			<label class="item item-input">
				<input type="text" placeholder="Event Name" ng-model="data.name">
			</label>
			<label class="item item-input">
				<input type="text" placeholder="Description" ng-model="data.description">
			</label>
			<label class="item item-input item-select">
				<div class='input-label'>
					date
				</div>
				<select ng-model="data.date">
					<option>1</option>
					<option>2</option>
					<option>3</option>
				</select>
			</label>
			<label class="item item-input item-select">
				<div class='input-label'>
					time
				</div>
				<select ng-model="data.time">
					<option>1</option>
					<option>2</option>
					<option>3</option>
				</select>
			</label>
		<!-- </div>
		<div class="list"> -->
			<label class="item item-input">
				<input type="text" placeholder="Location Name" ng-model="data.locationName">
			</label>
			<label class="item item-input item-select">
				<div class='input-label'>
					location
				</div>
				<select ng-model="data.location">
					<option>coordinate 1</option>
					<option>coordinate 2</option>
					<option>geofire hashkey</option>
				</select>
			</label>
			<label class="item item-input item-select">
				<div class='input-label'>
					group
				</div>
				<select ng-model="data.group_id">
					<option ng-repeat="room in rooms">{{room.$id}}</option>
				</select>
			</label>
		</div>
		<!-- <button class="button button-positive" ng-click="submitEvent(data.name)">
			Submit
		</button> -->
		<button class="button button-positive" ng-click="saveEventPopup()">
			Save
		</button>
		<button class="button button-positive" ng-click="goBack()">
			Cancel
		</button>
	</ion-content>
</ion-view>