<ion-view view-title="Edit Event">
	<ion-content>
		<div class="list">
			<label class="item item-input">
				<span class="input-label">Event Name</span>
				<input type="text" ng-model="data.name" ng-init="data.name=currentEvent.name">
			</label>
			<label class="item item-input">
				<span class="input-label">Description</span>
				<input type="text" ng-model="data.description" ng-init="data.description=currentEvent.description">
			</label>
			<label class="item item-input">
				<span class="input-label">Date</span>
				<input type="date" ng-model="data.day" ng-init="data.day=defaultDate">
			</label>
			<label class="item item-input">
				<span class="input-label">Time</span>
				<!-- {{defaultDate}} HELOHELHOELOL -->
				<input type="time" ng-model="data.time" ng-init="data.time=defaultDate">
			</label>
			<label class="item item-input">
				<span class="input-label">Location</span>
				<input type="text" ng-model="data.location.name"  ng-init="data.location.name=currentEvent.location.name">
			</label>
 			<label class="item item-input item-select">
				<span class="input-label">Group</span>
				<select ng-model="data.group_id" ng-init="data.group_id=rooms[0].$id" ng-options="room.$id as room.name for room in rooms">
				</select>
			</label>
		</div>
		<button class="button button-calm save-button" ng-click="saveEvent()">
			Save
		</button>
		<button class="button button-assertive" ng-click="goBack()">
			Cancel
		</button>
	</ion-content>
</ion-view>