
<ion-view view-title="{{ roomName }}">
    <ion-nav-buttons side="right">
        <button class="button button-icon icon ion-android-more-vertical" ng-click="openPopover($event)">
        </button>
      </ion-nav-buttons>
    <ion-content>
        <ion-list ng-show="roomName">
                <div class="mvheading messages" ng-if="pollVisibility">
                Live Polls
                    <ion-item class="item item-thumbnail-left item-text-wrap" ng-repeat="poll in polls | filter: IM.textMessage" ng-click="goToPollDetail(poll)"><img ng-src="http://lorempixel.com/400/200/sports/{{$index}}" alt="Event Picture"><span class="heading">Poll for: {{poll.event.name}}</span><br><span> Ends {{currentPollDate(poll)}} </span><br><span> Attending: {{currentPollAttending(poll)}} </span><span> Not Attending: {{currentPollNotAttending(poll)}} </span></ion-item>
                </div>
                <ion-list ng-if="listVisibility">
                <p class="center">Already know what you want to do?</p>
                    <ion-item ng-click="createEvent()">Create A New Custom Event</ion-item>
                <p class="center">Suggest A Saved Event</p>
                    <ion-item ng-repeat="event in events" ng-click="goToPoll(event)">{{event.name}}</ion-item>
                    <p class="center">Search for an activity</p>
                    <ion-item ng-click="goToShowtimes()">Movies</ion-item>
                    <ion-item ng-click="goToYelp()">Restaurants/Nightlife</ion-item>
                    <ion-item ng-click="goToSeatgeek()">Concerts/Sports</ion-item>
                </ion-list>
            <ion-item ng-hide="chats" class="textCenter">
                <i class="icon ion-loading-c"></i> Loading Chats
            </ion-item>
            <ion-item ng-if="chats.length == 0" class="textCenter">
                <h4>No messages in this room. Send message to start.</h4>
            </ion-item>
            <div class="messages">
            <ion-item class="item-text-wrap" ng-if="!listVisibility && !pollVisibility" ng-repeat="chat in chats | orderBy:'!timestamp':true">
                <p><h4>{{chat.from}} :</h4><h3 am-time-ago="chat.timestamp" class="item-note">{{chat.userFriendlyTime}}
                </h3></p>
                
                <p>{{chat.message}}</p>
                <ion-option-button class="button-assertive" ng-click="remove(chat)">
                    Delete
                </ion-option-button>
            </ion-item>
            </div>
        </ion-list>
        <ion-list ng-hide="roomName">
            <ion-item class="textCenter">
                <h4>Please select a room to chat first.</h4>
            </ion-item>
        </ion-list>
    </ion-content>
                    <ion-footer-bar ng-show="listVisibility" class="item item-input-inset">
                        <label class="item-input-wrapper">
                            <input type="text" ng-model="IM.textMessage" placeholder="Filter Events">
                        </label>
                    <!--      <button ng-hide="pollVisibility" ng-click="revealPolls()" class="button button-small button-balanced">
                            <span>Live Polls</span>
                        </button>
                        <button ng-hide="listVisibility" ng-click="revealList()" class="button button-small button-balanced">
                            <span>Suggest Event</span>
                        </button> -->
                        <button ng-click="hideList()" class="button button-small button-balanced">
                             <span>Return to Chat</span>
                        </button>
                    </ion-footer-bar>
                    
                     <ion-footer-bar ng-show="pollVisibility" class="item item-input-inset">
                        <label class="item-input-wrapper">
                            <input type="text" ng-model="IM.textMessage" placeholder="Filter Live Polls">
                        </label>
                    <!--      <button ng-hide="pollVisibility" ng-click="revealPolls()" class="button button-small button-balanced">
                            <span>Live Polls</span>
                        </button>
                        <button ng-hide="listVisibility" ng-click="revealList()" class="button button-small button-balanced">
                            <span>Suggest Event</span>
                        </button> -->
                        <button ng-click="hidePoll()" class="button button-small button-balanced">
                             <span>Return to Chat</span>
                        </button>
                    </ion-footer-bar>


                    <ion-footer-bar ng-show="chatVisibility" class="item item-input-inset">
                        <label class="item-input-wrapper">
                            <input type="text" ng-model="IM.textMessage" placeholder="Type in your message...">
                        </label>
                        <button ng-click="sendMessage(IM.textMessage)" class="button button-small button-balanced">
                            Send 
                        </button>
                    <!--      <button ng-hide="pollVisibility" ng-click="revealPolls()" class="button button-small button-balanced">
                            <span>Live Polls</span>
                        </button>
                        <button ng-hide="listVisibility" ng-click="revealList()" class="button button-small button-balanced">
                            <span>Suggest Event</span>
                        </button> -->
                    </ion-footer-bar>
<!--         <button ng-click="goToAddContacts()">Add Contacts</button>
 -->    
    </ion-content>
</ion-footer-bar>

</ion-view>




<!-- <ion-view view-title="Chats">
  <ion-content>
    <div class="list">
      <a class="item item-avatar" ng-repeat="chat in chats">
        <img>
        <h2>{{chat.user}}</h2>
        <p>{{chat.message}}</p>
      </a>
    </div>
    <form>
      <div class="list">
        <div class="item item-input-inset">
          <label class="item-input-wrapper">
            <input type="text" placeholder="Message" ng-model="chat.message">
          </label>
          <button class="button button-positive ion ion-ios7-chatbubble" ng-click="sendChat(chat)"></button>
        </div>
      </div>
  </ion-content>
</ion-view> -->