<ion-view view-title="Chat Room {{ roomName }}">
    <ion-content>
        <ion-list ng-show="roomName">
                <ion-list ng-if="listVisibility">
                Events
                    <ion-item ng-repeat="event in events | filter: IM.textMessage">{{event}}</ion-item>
                </ion-list>
            <ion-item ng-hide="chats" class="textCenter">
                <i class="icon ion-loading-c"></i> Loading Chats
            </ion-item>
            <ion-item ng-if="chats.length == 0" class="textCenter">
                <h4>No messages in this room. Send message to start.</h4>
            </ion-item>
            <ion-item class="" ng-if="!listVisibility" ng-repeat="chat in chats | orderBy:'createdAt':true" type="item-text-wrap">
                <h4>{{chat.from}} :</h4>
                <span am-time-ago="chat.createdAt" class="item-note">
                </span>
                <p>{{chat.message}}</p>
                <ion-option-button class="button-assertive" ng-click="remove(chat)">
                    Delete
                </ion-option-button>
            </ion-item>
                    <ion-item class="item item-input-inset">
                        <label class="item-input-wrapper">
                            <input type="text" ng-model="IM.textMessage" placeholder="Type in your message...">
                        </label>
                        <button ng-click="revealList()" class="button button-small button-balanced">
                            Poll 
                        </button>
                        <button ng-click="sendMessage(IM.textMessage)" class="button button-small button-balanced">
                            Send 
                        </button>
                    </ion-item>
        </ion-list>
        <ion-list ng-hide="roomName">
            <ion-item class="textCenter">
                <h4>Please select a room to chat first.</h4>
            </ion-item>
        </ion-list>
        <button class="button button-full button-positive" ng-click="createCustomEvent()">Create Custom Event</button>
    </ion-content>
      

</ion-view>




<!-- <ion-view view-title="Chats">
  <ion-content>
    <div class="list">
      <a class="item item-avatar" ng-repeat="chat in chats">
        <img>
        <h2>{{chat.user}}</h2>
        <p>{{chat.message}}</p>
      </a>
    </div>
    <form>
      <div class="list">
        <div class="item item-input-inset">
          <label class="item-input-wrapper">
            <input type="text" placeholder="Message" ng-model="chat.message">
          </label>
          <button class="button button-positive ion ion-ios7-chatbubble" ng-click="sendChat(chat)"></button>
        </div>
      </div>
  </ion-content>
</ion-view> -->