<ion-view view-title="Rooms">
    <ion-content>
        <ion-item>
            <label ng-click="createRoom()">Create a New Group</label>
        </ion-item>
        <ion-list ng-show="rooms">
            <ion-item class="item-icon-left" ng-repeat="room in rooms" type="item-text-wrap" ng-click="openRoom(room.$id)">
                <i class="icon {{room.icon}}"></i>
                <h2>{{room.name}}</h2>
                <span>helloo{{getLastMsg(room)}}</span>
            </ion-item>
        </ion-list>
        <ion-list ng-hide="rooms.length">
            <ion-item class="textCenter">
                <i class="icon ion-loading-c"></i> Loading Rooms
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>