<ion-view view-title="Jazzed">
	<ion-content class="padding">
		<h1>My Profile</h1>
		<img ng-src="{{photo}}" style="height:200px; width:200px" ng-click="changePhoto()">
		<ion-list>
	    	<ion-item>
	    		<h2>Name</h2>
	    		<p>{{name}}</p>
	    	</ion-item>
	    	<ion-item>
	    		<h2>Email</h2>
	    		<p>{{email}}</p>
	    	</ion-item>
	    	<ion-item>
	    		<h2>Phone</h2>
	    		<p>{{phone}}</p>
	    	</ion-item>
	    </ion-list>
		<button class="button button-assertive" ng-click="logout()">
  Logout
</button>
	</ion-content>
</ion-view>