/* Empty. Add your own CSS if you like */
.heading {
	font-weight: bold;
}

* {
	font-family: Lato;
}
.orange {
	color: white;
	background-color: #E97C30;
}

.mvheading {
	text-align: center;
}

.mvresults {
	display: inline-block;
	padding-left: 5px;
	margin-left: 10px;

}

.trailer {
	display: block;
	margin-left: 10px;
}

.theater {
	font-weight: bold;
	margin-left: 10px;
	font-size: 1.2em;
}

.shift {
	margin-left: 10px;
	font-size: 0.9em;
	margin-bottom: 5px;
}

.confirm {
	display: block;
	margin-left: 10px;
	margin-bottom: 10px;
	margin-top: 3px;
}