/* Empty. Add your own CSS if you like */
.heading {
	font-weight: bold;
}

* {
	font-family: Lato;
}

/*for chat.html*/
.center {
	text-align: center;
	padding: 10px;
	color: #E97C30;
	padding-top: 15px;
	font-weight: bold;
}


/*for movie results*/

.orange {
	color: white;
	background-color: #E97C30;
}

.mvheading {
	text-align: center;
}

.mvresults {
	display: inline-block;
	padding-left: 5px;
	margin-left: 10px;

}

.trailer {
	display: block;
	margin-left: 10px;
}

.theater {
	font-weight: bold;
	margin-left: 10px;
	font-size: 1.2em;
	color: grey;
}

.shift {
	margin-left: 10px;
	font-size: 0.9em;
	margin-bottom: 5px;
}

.confirm {
	display: block;
	margin-left: 10px;
	margin-bottom: 10px;
	margin-top: 3px;
}

.triangle-isosceles {
  position: relative;
  padding: 15px;
  margin: 1em 0 3em;
  color: #000;
  background: #f3961c;
  border-radius: 10px;
  background: linear-gradient(top, #f9d835, #f3961c);
}

/* creates triangle 
.triangle-isosceles:after {
  content: "";
  display: block; /* reduce the damage in FF3.0 */
  position: absolute;
  bottom: -15px;
  left: 50px;
  width: 0;
  border-width: 15px 15px 0;
  border-style: solid;
  border-color: #f3961c transparent;
}

.messages {
    margin:0;
    margin-bottom: 43px;
    padding:0;
    list-style-type:none;
}
/*
.messages li {
    display:block;
    clear:both;
    max-width:50%;
    margin:0 0 1rem 0;
    padding:0;
}

.messages li:nth-child(even) {
    float:right;
}

.messages li:nth-child(even) img {
    float:right;
}

.messages p {
    border-radius:.75rem;
    background:#e6e5eb;
    color:#383641;
    padding:.6875rem;
    margin:0;
    font-size:.875rem;
}

.messages li:nth-child(even) p {
    background:#158ffe;
    color:#fff;
}

.messages img {
    display:block;
    max-width:65%;
    border-radius:.75rem;
<<<<<<< HEAD
}
*/
